{% extends "base.html" %}

{% block content %}
<h1>Car #{{ car.id }}</h1>

<h2>Car info</h2>
<p><strong>Model:</strong> {{ car.model }}</p>

<h2>Manufacturer</h2>
<p><strong>Name:</strong> {{ car.manufacturer.name }}</p>
<p><strong>Country:</strong> {{ car.manufacturer.country }}</p>

<h2>Drivers</h2>
{% if car.drivers.all %}
<ul>
    {% for driver in car.drivers.all %}
    <li>
        <a href="{% url 'taxi:driver-detail' driver.id %}">
            {{ driver.username }}
        </a>
        ({{ driver.first_name }} {{ driver.last_name }})
    </li>
    {% endfor %}
</ul>

{% else %}
<p>No drivers assigned.</p>
{% endif %}
{% endblock %}
